<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="float-container">
        {{>header}}
        <div class="float-child">

            <p>Protagonist.
            <p>
            <p>ENFJ-T.</p>
            <p>Full Stack Developer.</p>
            <P>OpenSource Enthusiast.</p>
            <p>Vocal Artist.</p>
            <p>Currently working on <b>OpenCV</b> & <b>Machine Learning.</b></p>
            <P>bijon.ndc.pust@gmail.com.</p>

        </div>
        <div class="float-child">
            <img class="portrait" src="/img/me.jpeg">
            <p>Github: <a href="https://github.com/bijon1161" target="blank"><b>Bijon1161</b></a></p>
            <p>Linkedin: <a href="https://www.linkedin.com/in/bijon1161/" target="blank"><b>Bijon Mallik</b></a></p>
        </div>

    </div>

    {{>footer}}
</body>

</html>