<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Weather Data was fetched through free API from <a href="https://weatherstack.com/"target="blank"><b>Weather Stack</b>.</a></p>
        <p>Geocoding API was taken from <a href="https://www.mapbox.com/"target="blank"><b>Mapbox</b>.</a></p>
        <p></br></br></br></br>
        </p>
        <p><u><b>For anykind of query:</b></u></p>
        <P>bijon.ndc.pust@gmail.com.</p>
        <p>Github: <a href="https://github.com/bijon1161" target="blank"><b>Bijon1161</b></a></p>
        <p>Linkedin: <a href="https://www.linkedin.com/in/bijon1161/" target="blank"><b>Bijon Mallik</b></a></p>

    </div>

    {{>footer}}
</body>

</html>